<footer class="footer">
  <a class="button--circle footer__button" href="#header">
    <img class="footer__button-icon" src="assets/images/ico-arrow.svg" alt="icono flecha">
  </a>

  <div class="container footer__container">
    <nav class="footer__menu">
      <ul class="footer__menu-list">
        <li class="footer__menu-option">
          <a href="#article" class="footer__link">Articles</a>
        </li>
        <li class="footer__menu-option">
          <a href="#books" class="footer__link">Books</a>
        </li>
        <li class="footer__menu-option">
          <a href="#events" class="footer__link">Events</a>
        </li>
        <li class="footer__menu-option">
          <a href="#reasons" class="footer__link">Reasons</a>
        </li>
        <li class="footer__menu-option">
          <a href="#tips" class="footer__link">Tips</a>
        </li>
      </ul>
    </nav>

    <div class="footer__social">
      <ul class="footer__social-list">
        <li class="footer__social-option">
          <a href="#twitter" class="footer__link">Twitter</a>
        </li>
        <li class="footer__social-option">
          <a href="#instagram" class="footer__link">Instagram</a>
        </li>
        <li class="footer__social-option">
          <a href="#mastodon" class="footer__link">Mastodon.Social</a>
        </li>
      </ul>
    </div>

    <div class="footer__copy">
      <p class="footer__copy-text">©2017</p>
      <p class="footer__copy-text">we <span class="emoji-love">❤︎</span> components</p>
    </div>
  </div>
</footer>
