<main class="page__main">
    <partial src="_main-hero.html"></partial>

    <div class="main__container">
      <partial src="_main-article.html"></partial>

      <section class="page__purchase">
        <div class="container">
          <h2 class="purchase__title">3 Reasons to purchase</h2>
          <div class="purchase__options">
            <div class="purchase-option purchase-1">
              <h3 class="purchase-option__title">Lalala</h3>
              <p class="purchase-option__text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
            <div class="purchase-option purchase-2">
              <h3 class="purchase-option__title">Lalala</h3>
              <p class="purchase-option__text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
            <div class="purchase-option purchase-3">
              <h3 class="purchase-option__title">Lalala</h3>
              <p class="purchase-option__text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <button class="button-purchase button">
            <a href="#PurchasePage">More Reasons</a>
          </button>
      </section>
    </div>
    <button class="button-up button">
      <a href="#header">
        <img src="assets/images/ico-arrows.svg" alt="" class="button-up icon-up">
      </a>
    </button>
  </main>
