<section class="page__purchase">
  <div class="page__purchase-container container">
    <h2 class="purchase__title">3 Reasons to purchase</h2>
    <div class="purchase__options">
      <div class="purchase-option purchase-1">
        <h3 class="purchase-option__title">Ut sed metus</h3>
        <p class="purchase-option__text">
          Lorem ipsum dolor sit amet, consecteur.
        </p>
      </div>
      <div class="purchase-option purchase-2">
        <h3 class="purchase-option__title">Curabitur ac erat</h3>
        <p class="purchase-option__text">
          Mauris mattis urna quis lorem molestie.
        </p>
      </div>
      <div class="purchase-option purchase-3">
        <h3 class="purchase-option__title">Morbi dictum</h3>
        <p class="purchase-option__text">
          Aliquam in dolor et dolor tincidunt.
        </p>
      </div>
    </div>
    <button class="button-purchase button">
      <a class="button-more__link" href="#PurchasePage">More Reasons</a>
    </button>
</section>
