<section class="purchase">
  <div class="purchase__container container">
    <h2 class="purchase__title txt__title--md">3 Reasons to purchase</h2>
    <ul class="purchase__list">
      <li class="purchase__option purchase--1">
        <h3 class="purchase__option-title txt__title--sm">Ut sed metus</h3>
        <p class="purchase__option-text txt__article">
          Lorem ipsum dolor sit amet, consecteur.
        </p>
      </li>
      <li class="purchase__option purchase--2">
        <h3 class="purchase__option-title txt__title--sm">Curabitur ac erat</h3>
        <p class="purchase__option-text txt__article">
          Mauris mattis urna quis lorem molestie.
        </p>
      </li>
      <li class="purchase__option purchase--3">
        <h3 class="purchase__option-title txt__title--sm">Morbi dictum</h3>
        <p class="purchase__option-text txt__article">
          Aliquam in dolor et dolor tincidunt.
        </p>
      </li>
    </ul>
    <button class="purchase__button button--bubble button--orange button--reset">More Reasons</button>
  </div>
</section>
