<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Anonymous Proxy</title>
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body class="page">
  <partial src="_header.html"></partial>
  <partial src="_main.html"></partial>

  <footer class="page__footer">
    <div class="container footer__container">
      <div class="copy">
        <span class="copy__text">©2017</span>
        <span class="copy__text">we ❤︎ components</span>
      </div>
      <nav class="menu-footer">
        <ul class="menu-footer__list">
          <li class="menu-option option-1">
            <a href="#articles" class="menu-footer__link">Articles</a>
          </li>
          <li class="menu-option option-2">
            <a href="#books" class="menu-footer__link">Books</a>
          </li>
          <li class="menu-option option-3">
            <a href="#events" class="menu-footer__link">Events</a>
          </li>
          <li class="menu-option option-4">
            <a href="#reasons" class="menu-footer__link">Reasons</a>
          </li>
          <li class="menu-option option-5">
            <a href="#tips" class="menu-footer__link">Tips</a>
          </li>
        </ul>
      </nav>
      <div class="social-menu">
        <ul class="social-menu__list">
          <li class="social-option social-1">
            <a href="#twitter" class="menu-footer__link">Twitter</a>
          </li>
          <li class="social-option social-2">
            <a href="#instagram" class="menu-footer__link">Instagram</a>
          </li>
          <li class="social-option social-3">
            <a href="#mastodon" class="menu-footer__link">Mastodon.Social</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</body>

</html>
