.button__link {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: white;
  position: absolute;
  right: 50%;
  bottom: 0;
  transform: translateX(50%);
  display:flex;
  justify-content: center;
  align-items: center;
}
