.page__hero {
  @include bg-img();
  height: 100vh;
  @include position-relative();
  color: $color-txt-title;
  text-align: center;
  @include flex-center();
}
.hero-flex {
  position: absolute;
  bottom: 0;
  margin-bottom: 53px;
  @include flex-center();
  flex-direction: column;

}

.hero__title {
  margin: 0 0 10px;
  max-width: 290px;
  @media all and (min-width: $tablet) {
    max-width: 690px;
  }
  @media all and (min-width: $desktop) {
    max-width: 730px;
  }
}
.hero__text {
  margin: 0;
  font-size: $txt-sm;
  @media all and (min-width: $tablet) {
    font-size: $txt-xl;
  }
}

.next__button {
  margin-top: 45px;
  @media all and (min-width: $desktop) {
    bottom: -35px;
  }
}

