.hero {
  @include bg-img();
  height: 100vh;
  @include flex-center();
  color: $color-txt-title;
  text-align: center;
}
.hero-flex {
  transform: translatey(50%);
  @include position-relative();
  height: 50%;
  margin-bottom: 53px;
  @media all and (min-width: $tablet) {
    margin-bottom: 45px;
  }
  @media all and (min-width: $desktop) {
    margin-bottom: 88px;
  }
}

.hero__title {
  margin: 0 0 10px;
  font-family: $font-roboto-slab;
  text-transform: uppercase;
  max-width: 290px;
  @media all and (min-width: $tablet) {
    max-width: 690px;
  }
  @media all and (min-width: $desktop) {
    max-width: 730px;
    }
}
.hero__text {
  margin: 0;
  font-size: $txt-sm;
  @media all and (min-width: $tablet) {
    font-size: $txt-xl;
    }
}



