.article {
  padding: 30px 0 45px;
  line-height: $line-size-md;
}

.article__tag {
  color: $color-txt-tag;
  font-size: $txt-xs;
  @media all and (min-width: $desktop) {
    font-size: $txt-sm;
  }
}

.article__title {
  font-family: $font-roboto-slab;
}

.article__text {
  color: $color-txt-article;
  margin: 15px 0 30px;
  font-size: $txt-md;
  @media all and (min-width: $tablet) {
    font-size: $txt-lg;
    max-width: 690px;
  }
  @media all and (min-width: $desktop) {
    max-width: 730px;
  }
}
