.page__purchase {
  padding: 30px 0 60px;
  background-color: #eff9ff;
  line-height: 30px;
  text-align: center;
}
.page__purchase-container {
  @media all and (min-width:$tablet){
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,auto);
    .purchase__title {
        grid-row: 1/2;
        grid-column: 1/4;
      }
    .purchase__options {
      grid-row: 2/3;
      grid-column: 1/4;
      width: 100%;
    }
    .button-purchase {
      grid-row: 3/4;
      grid-column: 2/3;
      }

    }
}
.purchase__options {
max-width: 180px;
margin: 0 auto;
text-align: center;
}
.purchase-option {
  margin: 45px 0;
}
.purchase-option__title, .purchase-option__text {
  margin: 0;
  font-size: 18px;
}
.button-purchase {
  @include button-reset();
  background-color: #f26002;
  font-size: 20px;
  text-decoration: none;
  border-radius: 22.5px;
  padding: 10px 25px;
  text-align: center;
  .button-more__link {
    color: #fff;
    text-decoration: none;
  }
}

