.purchase {
  padding: 30px 0 60px;
  background-color: $bg-section;
  line-height: $line-size-md;
  text-align: center;
}

.purchase__option {
  margin: 45px 0 60px;
}

.purchase__option-title, .purchase__option-text {
  max-width: 180px;
  margin: 0 auto;
  @media all and (min-width:$tablet) {
    max-width: 100%;
    padding: 0 5px;
  }
}

.purchase__option-text {
  font-size: $txt-md;
  @media all and (min-width:$tablet) {
    font-size: $txt-lg;
    margin-top: 14px;
  }
}

/*Grid tablet and desktop*/

.purchase__list {
  list-style: none;
  padding: 0;
  margin: 0;
  @media all and (min-width: $tablet){
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,auto);
    grid-column-gap: 30px;
    .purchase__title, .purchase__option-title {
      margin: 0;
    }
    .purchase__title {
      grid-row: 1/2;
      grid-column: 1/4;
    }
    .purchase--1 {
      grid-row: 2/3;
      grid-column: 1/2;
    }
    .purchase--2 {
      grid-row: 2/3;
      grid-column: 2/3;
    }
    .purchase--3 {
      grid-row: 2/3;
      grid-column: 3/4;
    }
    .purchase__button {
      grid-row: 3/4;
      grid-column: 2/3;
    }
  }
}

.purchase__container {
  @media all and (min-width:$desktop) {
    max-width: 100%;
    padding: 0 85px;
  }
}
