.footer {
  background-color: $bg-footer;
  color: $color-txt-footer;
  text-align: center;
  line-height: $line-size-md;
  padding: 45px 0;
  @include position-relative();
  .button__link {
    top: 0;
    transform: translate(50%, -50%);
  }
}

.footer__menu-list, .footer__social-list {
  margin: 0;
  padding: 15px 0;
  list-style: none;
  font-size: $txt-links;
  text-transform: uppercase;
  .footer__link {
    @include link-none ($color-txt-link);
    &:hover {
      color: $color-orange-AA;
    }
  }
}

.footer__copy-text {
  margin: 0;
  font-size: $txt-footer;
  .emoji-love {
    color: $color-orange;
  }
}

.footer__container {
  @media all and (min-width:$tablet) {
    display: flex;
    justify-content: space-between;
    text-align: left;
    .footer__copy {
      order: -1;
    }
  }
}

.footer__button {
  position: absolute;
  right: 50%;
  top: 0;
  transform: translate(50%, -50%);
  transition: transform ease 1.5s, border ease 0.5s;
  &:hover {
    transform: translate(50%, -80%);
    border: 1px solid $color-orange;
  }
}

