.txt__title--lg {
  font-size: $txt-xxl;
  line-height: $line-size-xl;
  text-transform: uppercase;
  font-family: $font-roboto-slab;
  @media all and (min-width: $tablet) {
    font-size: $txt-xxl-tablet;
    line-height: $line-size-xl-tablet;
  }
  @media all and (min-width: $desktop) {
    font-size: $txt-xxl-desktop;
    line-height: $line-size-xl-desktop;
  }
}

.txt__title--md {
  margin: 0;
  font-size: $txt-xl;
  line-height: $line-size-md;
  text-transform: capitalize;
  font-family: $font-roboto-slab;
  @media all and (min-width: $tablet) {
    font-size: $txt-xl-tablet;
    line-height: $line-size-lg;
  }
  @media all and (min-width: $desktop) {
    font-size: $txt-xl-desktop;
  }
}
.txt__title--sm {
  margin: 0;
  font-size: $txt-md;
  line-height: $line-size-md;
  font-family: $font-roboto-slab;
  @media all and (min-width: $tablet) {
    font-size: $txt-xl;
  }
}


/*buttons*/
.button--reset {
  @include button-reset();
}
.button--circle {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: white;
  display:flex;
  justify-content: center;
  align-items: center;
}

.button--bubble {
  font-size: $txt-button;
  @include link-none ($color-orange);
  border: solid 2px $color-orange;
  border-radius: 22.5px;
  padding: 10px 25px;
  @media all and (min-width:$tablet) {
    padding: 10px 33px;
  }
  @media all and (min-width:$desktop) {
    padding: 10px 67px;
  }
}
.button--orange {
  background-color: $color-orange;
  color: $color-txt-button;
}
