.txt__title--lg {
  font-size: $txt-xxl;
  line-height: $line-size-xl;
  text-transform: uppercase;
  font-family: $font-roboto-slab;
  @media all and (min-width: $tablet) {
    font-size: $txt-xxl-tablet;
    line-height: $line-size-xl-tablet;
  }
  @media all and (min-width: $desktop) {
    font-size: $txt-xxl-desktop;
    line-height: $line-size-xl-desktop;
  }
}

.txt__title--md {
  margin: 0;
  font-size: $txt-xl;
  line-height: $line-size-md;
  text-transform: capitalize;
  font-family: $font-roboto-slab;
  @media all and (min-width: $tablet) {
    font-size: $txt-xl-tablet;
    line-height: $line-size-lg;
  }
  @media all and (min-width: $desktop) {
    font-size: $txt-xl-desktop;
  }
}


.txt__tag {
  font-size: $txt-xs;
  @media all and (min-width: $desktop) {
    font-size: $txt-sm;
  }
}

.txt__article {
  margin: 0;
  font-size: $txt-md;
  @media all and (min-width: $tablet) {
    font-size: $txt-lg;
  }
}

