@keyframes heart-beat {
  0% {
    position: absolute;
    left: 14px;
    bottom: 10px;
    font-size: 14px;
  }
  50% {
    position: absolute;
    left: 14px;
    bottom: 10px;
    font-size: 18px;
  }

  100% {
    position: absolute;
    left: 14px;
    bottom: 10px;
    font-size: 14px;
  }
}

