@mixin button-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@mixin link-none ($color) {
  color: $color;
  text-decoration: none;
}

@mixin bg-img {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*positions*/

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin position-fixed {
  position: fixed;
  top: 0;
  left: 0;
}

@mixin position-relative {
  position: relative;
  top: 0;
  left: 0;
}



