/*medias-sizes and breakpoints*/
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

/*colors*/
$color-orange: #f26002;
$color-orange-AA: #f5ab35;
$color-white: #ffffff;
$color-blue-l: #8ccbea;
$color-blue-ice: #eff9ff;
$color-blue-m: #0271bc;
$color-blue-d: #304268;
$color-grey: #4a4a4a;

$bg-menu: $color-blue-m;
$bg-button: $color-orange;
$bg-section: $color-blue-ice;
$bg-footer: $color-blue-d;

$color-txt-title: $color-white;
$color-txt-tag: $color-blue-l;
$color-txt-article: $color-grey;
$color-txt-button-link: color-orange;
$color-txt-button: $color-white;
$color-txt-link: $color-white;
$color-txt-footer: $color-white;


/* Text font family*/
$font-roboto-slab: 'Roboto Slab', serif;
$font-roboto: 'Roboto', sans-serif;



/*text size*/
$txt-xs: 14px;
$txt-sm: 16px;
$txt-md: 18px;
$txt-lg: 20px;
$txt-xl: 24px;
$txt-xl-tablet: 26px;
$txt-xl-desktop: 32px;
$txt-xxl: 42px;
$txt-xxl-tablet: 80px;
$txt-xxl-desktop: 100px;

$txt-hero: $txt-sm;
$txt-tag: $txt-xs;
$txt-text: $txt-md;
$txt-section-subtitle: $txt-md;
$txt-button: $txt-lg;
$txt-links: $txt-sm;
$txt-footer: $txt-xs;


/*text line-height size*/

$line-size-sm: 20px;
$line-size-md: 30px;
$line-size-lg: 45px;
$line-size-xl: 55px;
$line-size-xl-tablet: 106px;
$line-size-xl-desktop: 132px;


